.fairs {
  	position: relative;
  	line-height: 22px;
}
.component-16 {
  	position: absolute;
  	height: 100%;
  	width: 12.18%;
  	top: 0%;
  	right: 87.82%;
  	bottom: 0%;
  	left: 0%;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: flex-start;
  	padding: 0px 0.7px;
  	box-sizing: border-box;
  	font-size: 13.63px;
}
.component-17 {
  	display: flex;
  	flex-direction: row;
  	align-items: flex-start;
  	justify-content: center;
}
.component-161 {
  	position: absolute;
  	height: 100%;
  	width: 14.84%;
  	top: 0%;
  	right: 65.44%;
  	bottom: 0%;
  	left: 19.72%;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: flex-start;
  	padding: 0px 1px;
  	box-sizing: border-box;
}
.component-162 {
  	position: absolute;
  	height: 100%;
  	width: 18.54%;
  	top: 0%;
  	right: 39.35%;
  	bottom: 0%;
  	left: 42.11%;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: flex-start;
  	padding: 0px 1.4px;
  	box-sizing: border-box;
}
.component-163 {
  	position: absolute;
  	height: 100%;
  	width: 12.93%;
  	top: 0%;
  	right: 18.88%;
  	bottom: 0%;
  	left: 68.19%;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: flex-start;
  	padding: 0px 0.9px;
  	box-sizing: border-box;
}
.component-164 {
  	position: absolute;
  	height: 100%;
  	width: 11.33%;
  	top: 0%;
  	right: 0%;
  	bottom: 0%;
  	left: 88.67%;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: flex-start;
  	padding: 0px 1.3px;
  	box-sizing: border-box;
}
.navbar {
  	position: absolute;
  	height: 43.51%;
  	width: 100%;
  	top: 56.49%;
  	right: 0%;
  	bottom: 0%;
  	left: 0%;
}
.logo-icon {
  	position: relative;
  	width: auto;
    top: 1.37%
    left: 0;
    right: 0;
    font-size: 13.75px;
    text-align: center;
  
}
.home-page-header {
  	position: relative;
  	height: 2.63%;
  	width: 23.48%;
  	top: 1.37%;
  	right: 38.44%;
  	bottom: 96%;
  	left: 38.07%;
  	font-size: 13.75px;
}
.headimage-icon {
  	position: absolute;
  	top: 0px;
  	left: calc(50% - 960px);
  	width: 1920px;
  	height: 544px;
  	object-fit: cover;
}
.for {
  	margin: 0;
}
.for-by-txt-container {
  	line-break: anywhere;
  	width: 100%;
}
.for-by {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	line-height: 115px;
  	display: flex;
  	align-items: center;
  	width: 199px;
  	height: 327px;
}
.artists {
  	position: absolute;
  	top: 17px;
  	left: 172.46px;
  	font-size: 316px;
  	line-height: 115px;
  	display: flex;
  	align-items: center;
  	width: 886.5px;
  	height: 304px;
}
.headtext {
  	position: absolute;
  	top: 108px;
  	left: 431px;
  	width: 1059px;
  	height: 327px;
}
.homeheader {
  	position: absolute;
  	top: 269px;
  	left: calc(50% - 960px);
  	width: 1920px;
  	height: 544px;
  	text-align: left;
  	font-size: 136px;
  	color: #fff;
  	font-family: Koulen;
}
.intro-headeline {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	line-height: 42px;
  	font-weight: 600;
  	font-family: 3satHurme;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	width: 971px;
}
.text4 {
  	position: absolute;
  	top: 103px;
  	left: 0px;
  	font-size: 14.13px;
  	line-height: 24px;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	width: 971px;
}
.button {
  	position: absolute;
  	top: 183px;
  	left: calc(50% - 15.5px);
  	font-size: 12.36px;
  	line-height: 24px;
  	text-align: left;
}
.intro-text {
  	position: absolute;
  	top: 951px;
  	left: 475px;
  	width: 971px;
  	height: 207px;
  	font-size: 60px;
  	color: #000;
}
.artwork-name {
  	position: absolute;
  	top: 717px;
  	left: 708px;
  	line-height: 28px;
  	display: flex;
  	align-items: center;
  	width: 55.6px;
  	height: 28px;
}
.date {
  	position: absolute;
  	top: 745px;
  	left: 679px;
  	font-size: 12.63px;
  	line-height: 22px;
  	display: flex;
  	align-items: center;
  	width: 113.2px;
  	height: 22px;
}
.about-image {
  	position: absolute;
  	top: 766.67px;
  	left: 0px;
  	font-size: 14.13px;
  	line-height: 22px;
  	text-align: center;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	width: 1472px;
  	height: 60px;
}
.image-icon {
  	position: absolute;
  	top: 0px;
  	left: calc(50% - 607px);
  	width: 1215px;
  	height: 698px;
  	object-fit: cover;
}
.main-image {
  	position: absolute;
  	top: 1323px;
  	left: 224px;
  	width: 1472px;
  	height: 826.7px;
  	text-align: left;
}
.text5 {
  	position: absolute;
  	top: 247px;
  	left: calc(50% - 539.72px);
  	line-height: 50px;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	width: 1079.6px;
  	height: 50px;
}
.domain {
  	position: absolute;
  	top: 226px;
  	left: calc(50% - 71px);
  	font-size: 15.33px;
  	line-height: 21px;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	width: 142px;
  	height: 21px;
}
.divider {
  	position: absolute;
  	top: 2302px;
  	left: calc(50% - 960px);
  	width: 1920px;
  	height: 544px;
  	font-size: 41.25px;
  	color: #fff;
}
.section-description {
  	position: absolute;
  	top: 3051px;
  	left: 224px;
  	font-size: 15.33px;
  	letter-spacing: 4px;
  	line-height: 21px;
  	text-transform: uppercase;
  	display: flex;
  	text-align: left;
  	align-items: center;
  	width: 430px;
  	height: 21px;
}
.gallery-image-icon {
  	position: absolute;
  	height: 58.98%;
  	width: 100%;
  	top: 0%;
  	right: -0.07%;
  	bottom: 41.02%;
  	left: 0.07%;
  	border-radius: 20px;
  	max-width: 100%;
  	overflow: hidden;
  	max-height: 100%;
  	object-fit: cover;
}
.artwork-name1 {
  	position: absolute;
  	top: 311px;
  	left: 1px;
  	line-height: 28px;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	width: 468px;
  	height: 32px;
}
.for-by-txt-container {
  	width: 100%;
}
.artwork-date {
  	position: absolute;
  	top: 341px;
  	left: calc(50% - 233.65px);
  	font-size: 13.5px;
  	line-height: 22px;
  	display: flex;
  	align-items: center;
  	width: 467px;
  	height: 22px;
}
.artwork-about {
  	position: absolute;
  	top: 388px;
  	left: 2px;
  	font-size: 14px;
  	line-height: 22px;
  	display: flex;
  	align-items: center;
  	width: 466.2px;
  	height: 66px;
}
.image-3 {
  	align-self: stretch;
  	flex: 1;
  	position: relative;
  	border-radius: 6px;
  	background-color: #fff;
  	font-size: 21.56px;
}
.gallery-image-icon1 {
  	position: absolute;
  	height: 58.98%;
  	width: 100%;
  	top: 0%;
  	right: 0.07%;
  	bottom: 41.02%;
  	left: -0.07%;
  	border-radius: 20px;
  	max-width: 100%;
  	overflow: hidden;
  	max-height: 100%;
  	object-fit: cover;
}
.artwork-name2 {
  	position: absolute;
  	top: 313px;
  	left: 145.67px;
  	line-height: 28px;
  	display: flex;
  	align-items: center;
  	width: 179px;
  	height: 28px;
}
.artwork-date1 {
  	position: absolute;
  	top: 341px;
  	left: 137.67px;
  	font-size: 13.13px;
  	line-height: 22px;
  	display: flex;
  	align-items: center;
  	width: 193px;
  	height: 22px;
}
.artwork-about1 {
  	position: absolute;
  	top: 383px;
  	left: 16.67px;
  	font-size: 14px;
  	line-height: 22px;
  	text-align: center;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	width: 438.4px;
}
.image-2 {
  	align-self: stretch;
  	flex: 1;
  	position: relative;
  	border-radius: 6px;
  	background-color: #fff;
  	text-align: left;
}
.galelry-image-icon {
  	position: absolute;
  	height: 58.98%;
  	width: 100%;
  	top: 0%;
  	right: 0%;
  	bottom: 41.02%;
  	left: 0%;
  	border-radius: 20px;
  	max-width: 100%;
  	overflow: hidden;
  	max-height: 100%;
  	object-fit: cover;
}
.artwork-name3 {
  	position: absolute;
  	top: 313px;
  	left: 0.34px;
  	line-height: 28px;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	width: 469px;
  	height: 28px;
}
.the-garden {
  	font-weight: 600;
}
.artwork-date2 {
  	position: absolute;
  	top: 341px;
  	left: -1.66px;
  	font-size: 12.63px;
  	line-height: 22px;
  	display: flex;
  	align-items: center;
  	width: 471px;
  	height: 22px;
  	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.artwork-about2 {
  	position: absolute;
  	top: 383px;
  	left: calc(50% - 234.31px);
  	font-size: 14.13px;
  	line-height: 22px;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	width: 469.1px;
}
.image-1 {
  	align-self: stretch;
  	flex: 1;
  	position: relative;
  	border-radius: 6px;
  	background-color: #fff;
}
.first-gallery-set {
  	position: absolute;
  	width: 100%;
  	top: 0px;
  	right: 0px;
  	left: 0px;
  	height: 529.3px;
  	display: flex;
  	flex-direction: row;
  	align-items: flex-start;
  	justify-content: center;
  	flex-wrap: wrap;
  	align-content: flex-start;
  	padding: 32px 16px 0px;
  	box-sizing: border-box;
  	gap: 0px 32px;
}
.gallery-image-icon2 {
  	position: absolute;
  	height: 58.98%;
  	width: 100.04%;
  	top: 0%;
  	right: -0.04%;
  	bottom: 41.02%;
  	left: 0%;
  	border-radius: 20px;
  	max-width: 100%;
  	overflow: hidden;
  	max-height: 100%;
  	object-fit: cover;
}
.artwork-name4 {
  	position: absolute;
  	top: 313px;
  	left: 0px;
  	line-height: 28px;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	width: 720px;
  	height: 28px;
}
.artwork-date3 {
  	position: absolute;
  	top: 341px;
  	left: 1px;
  	font-size: 12.63px;
  	line-height: 22px;
  	display: flex;
  	align-items: center;
  	width: 719px;
  	height: 22px;
}
.artwork-about3 {
  	position: absolute;
  	top: 395px;
  	left: 126px;
  	font-size: 14.13px;
  	line-height: 22px;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	width: 469.1px;
}
.image-5 {
  	flex: 1;
  	position: relative;
  	border-radius: 6px;
  	background-color: #fff;
  	height: 497.3px;
}
.artwork-name5 {
  	position: absolute;
  	top: 313px;
  	left: calc(50% - 360px);
  	line-height: 28px;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	width: 719px;
  	height: 28px;
}
.artwork-date4 {
  	position: absolute;
  	top: 341px;
  	left: calc(50% - 359px);
  	font-size: 12.63px;
  	line-height: 22px;
  	display: flex;
  	align-items: center;
  	width: 717px;
  	height: 22px;
}
.artwork-about4 {
  	position: absolute;
  	top: 386.83px;
  	left: 127px;
  	font-size: 14px;
  	line-height: 22px;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	width: 466.2px;
  	height: 66px;
}
.image-4 {
  	flex: 1;
  	position: relative;
  	border-radius: 6px;
  	background-color: #fff;
  	height: 497.3px;
  	font-size: 21.56px;
}
.second-gallery-set {
  	position: absolute;
  	width: 100%;
  	top: 616px;
  	right: 0px;
  	left: 0px;
  	height: 529.3px;
  	display: flex;
  	flex-direction: row;
  	align-items: flex-start;
  	justify-content: center;
  	flex-wrap: wrap;
  	align-content: flex-start;
  	padding: 32px 16px 0px;
  	box-sizing: border-box;
  	gap: 0px 32px;
}
.artwork-date5 {
  	position: absolute;
  	top: 341px;
  	left: 1px;
  	font-size: 12.63px;
  	line-height: 22px;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	width: 719px;
  	height: 22px;
}
.artwork-about5 {
  	position: absolute;
  	top: 386.83px;
  	left: 126px;
  	font-size: 14.13px;
  	line-height: 22px;
  	display: flex;
  	align-items: center;
  	width: 469.1px;
  	height: 110px;
}
.artwork-image {
  	position: absolute;
  	top: 313px;
  	left: 1px;
  	line-height: 28px;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	width: 719px;
}
.artwork-date6 {
  	position: absolute;
  	top: 341px;
  	left: 1px;
  	font-size: 13.5px;
  	line-height: 22px;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	width: 719px;
  	height: 22px;
}
.artwork-about6 {
  	position: absolute;
  	top: 386.83px;
  	left: 127px;
  	font-size: 14px;
  	line-height: 22px;
  	display: flex;
  	align-items: center;
  	width: 466.2px;
  	height: 66px;
}
.third-gallery-set {
  	position: absolute;
  	width: 100%;
  	top: 1232px;
  	right: 0px;
  	left: 0px;
  	height: 529.3px;
  	display: flex;
  	flex-direction: row;
  	align-items: flex-start;
  	justify-content: center;
  	flex-wrap: wrap;
  	align-content: flex-start;
  	padding: 32px 16px 0px;
  	box-sizing: border-box;
  	gap: 0px 32px;
}
.home-gallery {
  	position: absolute;
  	width: calc(100% - 416px);
  	top: 3104px;
  	right: 208px;
  	left: 208px;
  	height: 1761.3px;
}
.footer-headline {
  	position: relative;
  	letter-spacing: 1px;
  	line-height: 18px;
  	text-transform: uppercase;
}
.component-2 {
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
}
.text7 {
  	position: relative;
  	line-height: 22px;
  	color: inherit;
  	text-decoration: none;
}
.tabs {
  	align-self: stretch;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
  	padding: 0.5px 0px 1.5px;
  	gap: 10px;
  	font-size: 14.38px;
}
.column-3 {
  	flex: 1;
  	height: 218px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
  	gap: 16px;
  	max-width: 1104px;
}
.tabs1 {
  	align-self: stretch;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
  	padding: 0.5px 0px 25.5px;
  	gap: 10px;
  	font-size: 14.38px;
}
.column-2 {
  	flex: 1;
  	height: 218px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
  	gap: 16px;
  	max-width: 1104px;
  	font-size: 12.03px;
}
.column-1 {
  	flex: 1;
  	height: 218px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
  	gap: 16px;
  	max-width: 1104px;
  	font-size: 11.48px;
}
.columns {
  	position: absolute;
  	width: calc(100% - 432px);
  	top: 64px;
  	right: 400px;
  	left: 32px;
  	height: 197px;
  	display: flex;
  	flex-direction: row;
  	align-items: flex-start;
  	justify-content: center;
  	flex-wrap: wrap;
  	align-content: flex-start;
  	gap: 0px;
}
.component-15-icon {
  	width: 32px;
  	position: relative;
  	border-radius: 24px;
  	height: 32px;
  	cursor: pointer;
}
.social-icons {
  	width: 100%;
  	height: 38px;
  	display: flex;
  	flex-direction: row;
  	align-items: flex-start;
  	justify-content: flex-start;
  	max-width: 368px;
}
.socials {
  	position: absolute;
  	width: calc(100% - 1168px);
  	top: 64px;
  	right: 32px;
  	left: 1136px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
  	gap: 12px;
  	font-size: 12.03px;
}
.footer1 {
  	width: 1536px;
  	position: relative;
  	height: 325px;
  	max-width: 1536px;
}
.footer {
  	position: absolute;
  	width: 100%;
  	top: 5145px;
  	right: 0px;
  	left: 0px;
  	background-color: #121212;
  	height: 330px;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: flex-start;
  	padding: 0px 192px;
  	box-sizing: border-box;
  	text-align: left;
  	font-size: 11.7px;
  	color: #fff;
}
.home {
  	width: 100%;
  	position: relative;
  	background-color: #fff;
  	height: 5475px;
  	text-align: center;
  	font-size: 20.63px;
  	color: #121212;
  	font-family: Inter;
}
